*{margin:0;padding:0;}
	.tou{
		background-color:#323232;
		height: 48px;
		margin-top: 0;		
	}
	.banxing{
		width: 1100px;
		margin: 0 auto;	
	}
	.touzuo li{
		line-height:48px;
		list-style:none;
		float: left;
		margin-right: 20px;
	}	    
	.touzuo a{
		font-size: 13px;
		color:#757575;
		text-decoration:none;
	}
	.shangyou li{
		float: left;
		list-style:none;
		line-height:48px;
		margin-left: 15px;
	}
	.shangyou{
		float: right;

	}
	.zidaxiao{
		font-size: 13.18px;
		margin-top: 1px;
	} 
	.qq{
		margin-top: 4px;
	}
	.bj{
		height:220px;
		background-image:url(images/列表页_20.png);        
		/* background-size: 100%; */
		text-align:center;
		padding:30px;
	}

