*{margin:0;padding:0;}
	body{
		background-color:#f0f1f1;
	}
	.tou{
		background-color:#323232;
		height: 48px;
		margin-top: 0;
		position: fixed;
		top: 0;
		left:0;	
		width: 100%;	
	}
	.banxing{
		width: 1100px;
		margin: 0 auto;	
	}
	.touzuo .kuan{
		width: 183px;
		padding-left: 0;
		padding-right: 0;
		margin-right: 15px;
	}
	.touzuo li{
		list-style:none;
		float: left;
		text-align: center;
		margin-left: 5px;
		margin-right: 5px; 
	}	    
	.touzuo a{
		display: block;
		padding:0 7px;
		font-size: 13px;
		color:#757575;
		height: 48px;
		text-decoration:none;
		line-height:48px;
	}
	.shangyou li{
		float: left;
		list-style:none;
		line-height:48px;
		margin-left: 18px;
		padding-top: 3px;
	}
	.touzuo a:hover{
		background-color: #dd4012;
	}
	.touzuo li:hover a{
		color: #fff;
	}
	.shangyou{
		float: right;

	}
	.zidaxiao{
		font-size: 13px;
		margin-top: 1px;
		color: #6b6b6b;
	} 
	.qq{
		margin-top: 4px;
	}
	.bj{
		background-image:url(images/列表页_20.png);         
		padding-top:194px;
		height: 28px;
		margin-top: 48px;

	} 
	.bj1{
		background-image:url(images/03_02.png);         
		padding-top:194px;
		height: 28px;
		background-position: 50%;
		background-repeat: no-repeat;
		margin-top: 47px;
	}
	.heixian{
		background-color:rgba(0,0,0,0.3); #000;
		height: 28px;
	}
	.heixian p a{
		font-size: 12px;
		color:#e3e3e3;
		text-decoration: none;
	}
	.heixian p a:hover{
		color:#636363;
		text-decoration:underline;
	}
	span{
		color:#e3e3e3;
	}

	.fudong{
		margin-top: 20px;
		height: 59px;
	}
	.fudong p {
		text-align: center;
		line-height: 26px;
		float: left;
		font-size: 12px;
		margin-right: 5px;
		background-color:#ffffff;
		height: 26px;
		cursor: pointer;
	}
	.fudong a{
		text-decoration:none;
		color: #636363;
		display: block;
		width: 64px;
		height: 26px;
	}
	.fudong a:hover{
		background-color: #636363;
		color: #fff;
	}
	.fudong .xy{
		background-color: #636363;
		color: #fff;
	}
	.zhong{
		width: 248px;
		border: 1px solid #d9d6d6;
		background-color: #fff;
		padding: 5px;
		margin-right: 20px;
		margin-bottom: 33px;
	}
	.zhong img{
		width: 100%;
	}
	.zhong a{
		text-decoration: none;
	}
	.zhong h4{
		font-size: 16px;
		color: #000000;
		margin: 10px auto 8px 10px;
		border-bottom: 1px solid #f7f7f7;
		padding-bottom: 10px;
	}
	.zhong p{
		font-size: 12px;
		color: #939292;
		padding-bottom: 19px;
		margin-left: 10px;
	}
	.zhong:hover{
		border: 1px solid #999;
	}
	.zhongfu .zhong{
		float: left;
	}
	.zhongfu:after{
		content: "";
		display: block;
		clear: both;
	}
	.siyou{
		margin-right:0;
	}
	.xiaanliu{
		width:241px;
		height: 36px;
		margin: 0 auto;
		cursor: pointer;
	}
	.xiaanliu p{
		float: left;
		background-color: #fff;
		width: 36px;
		height: 36px;
		margin-right: 5px;
		line-height: 36px;
		text-align:center;
	}
	.xiaanliu .xiaanlius{
		background-color:#dd4012;
		color: #fff; 
	}
	.tou .toulise a{
		background-color:#dd4012;
		color: #fff;
	}

	.xiaanliu .dayu{
		margin-right: 0px;
	}
	.xiaanliu p:hover{
		background-color: #dd4012;
		color: #fff;
	}
	.xiakuang{
		background-color: #323232;
		height: 82px;
		width: 100%;
		margin-top: 41px;
		font-size: 12px;
	}
	.xiakuang a{
		text-decoration: none;
	}
	.zuiyoufu p{
		float: right;
		color: #999;
	}
	.xiakuang img{
		margin-top:25px;
		float: left;
	}
	.zuiyoufu .zuihoushang{
		margin-top: 28px;
	}
	.zuiyoufu .zuihoushang a{
		margin-left: 19px;
		color: #999999;                                                                                                                                                                                                                                                                                                             
	}
	.zuihoushang a:hover{
		color: #fff;
		text-decoration: underline;
	}
	.zuihou{
		float: right;
	}
	.zuihou a{
		margin-top: 10px;
		margin:5px 9px;
		color: #666;
		text-decoration: none;	
	}
	.zuihou .zuiyoubi{
		margin-right:0px;
	}
	.zuihou span{
		color: #666;
	}
	.shangbianju{
		margin-top: 32px;
		margin-bottom:41px;
		overflow: hidden;
	}
	.nianli{
		background-image:url(images/xinkuang_06.png);
		background-repeat: no-repeat;
		height: 119px;
		width:110px;	
		float: left;
		margin-right: 51px;
		border-top: 1px solid  #e2e2e2;
	}
	.nianli p{
		text-align: center;
	}
	.nianyue{
		font-size: 12px;
		padding-top: 19px;
		
	}
	.ri{
		font-size: 41px;
	}
	.zhongy{
		border-top: 1px solid #e2e2e2;
		background-repeat: no-repeat;
		height:120px;
		width: 939px;
		float: right;
	}
	.z1{
		font-size: 18px;
		color: #dd4012;

	}
	.z2{
		font-size: 12px;
		
		margin-top: 16px;
		margin-bottom: 13px;
	}
	.z2 a{
		color: #999;
		text-decoration: none;
		margin-right: 20px;
	}
	.z2 a:hover{
		background-color: #e7ada3;
		color: #fff;
	}
	.z3{
		font-size: 12px;
		color:#666;
	}
	.zhongy img{
		float: left;
		margin-top: 20px;
		margin-left: 12px;
		margin-right: 20px;
		transition:all .5s;
	}
	.zhongy img:hover{
		transform: scale(1.1);
	}
	.zhongyy{
		margin-top: 20px;
		list-style: none;
	}
	.baiban{
		background-color: #fff;
		margin-top: 95px;
		padding: 44px 59px 45px 49px;
	}
	.baibei{
		width: 991px;
		border-bottom: 1px solid #f0f1f1;
		height: 65px;
	}
	.baibei h2{
		color: #333333;
		font-size: 18px;
		margin-bottom: 22px;
	}
	.baibei li{
		color: #333333;
		font-size: 12px;
		list-style: none;
		float: left;
	} 
	.baibei .baixbj{
		margin-bottom: 10px;
	}
	.baibei a{
		text-decoration: none;
		margin-right: 11px;
		color: #999;
	}
	.baibei a:hover{
		color: #999;
		text-decoration: underline;
	}
	.baibei .sny{
		font-size: 12px;
		float: right;
		color: #999;
	}
	.baibei ul .bq{
		margin-right:12px;
		color:#333;
	}
	.baibei{
		float: left;
	}
	.baiban img{
		width: 100%;
		margin-top: 32px;
	}
	.leirong{
		border-bottom: 1px solid #f0f1f1;
	}
	.leirong p{
		font-size: 14px;
		color: #333;
	}
	.leirong .leiju1{
		margin-top:33px;
		margin-bottom:38px;
	}
	.leirong .leiju2{
		margin-top:38px; 
		margin-bottom:38px;
		line-height: 35px;
	}
	.leirong .leiju3{
		margin-top:38px; 
		margin-bottom:38px;
	}
	 .leirong .leiju4{
	 	margin-bottom: 45px;
	 	line-height: 35px;
	 }
	 .leixia{
	 	margin-top: 20px;
	 }
	 .leixia .lxf{
	 	float: right;
	 }
	 .leixia span{
	 	color: #333;
	 	font-size: 12px;
	 }
	 .leixia a{
	 	color: #999;
	 	font-size: 12px;
	 	text-decoration: none;
	 }
	 .bj4{
	 	background-image: url(images/4-1_02.png);
	 	padding-top: 194px;
	 	margin-top: 48px;
	 }
	 .bsj{
	 	width: 200px;
	 	background-color: #000;
	 	float: left;
	 	margin-right: 35px;
	 }
	 .bsj li{
	 	color: #fdf7f6;
	 	font-size: 14px;
	 	list-style: none;
	 	border-bottom: 1px solid #1b1c1e;
		line-height: 36px;
	 	margin: auto;
	 }
	 .bsj a{
	 	padding-top: 5px;
	 	color: #fdf7f6;
	 	font-size: 14px;
	 	text-decoration: none;
		display: block;
		width: 199px;
		right: 36px;
		padding-left: 34px;
	 }
	 .bsj li:hover{
	 	color: #fff;
	 	background-color: #dd4012;
	 }
	 .bubian{
	 	background-color: #dd4012;
	 }
	.bsjy{
	 	width: 500px;
	 	float: right;
	 }
	 .zhong4{
	 	float: left;
	 	margin-top: 45px;
	 }
	 .clear{
	 	clear:both;
	 }
	 .bj5{
	 	background-image:url(images/5-1_03.png);
		background-position: 50%;
	 	height: 200px;
	 	background-repeat: no-repeat;
	 	margin-top: 48px;
	 }
	 .dianzi p{
	 	float: left;
	 	margin-top: 31px;
	 	width: 182px;
	 	height: 45px;
	 	margin-right: 1px;
	 	background-color:#cdcdcd;
	 	text-align: center;
	 }
	 .dianzi p a{
	 	font-size: 14px;
	 	color: #333;
	 	line-height: 45px;
	 	text-decoration: none;
	 	display: block;
	 	width: 182px;
	 	height: 45px;
	 }
	 .dianzi .wly{
	 	width: 184px;
	 	margin-bottom: 50px;
	 }
	 .dianzi p a:hover{
	 	background-color: #dd4012;
	 	color: #fff;
	 }
	 .dianzi .ybb{
	 	background-color: #dd4012;
	 }
	 .dianzi .ybb a{
	 	color: #fff;
	 }
	 .dianzi h1{
	 	color: #666;
	 	font-size: 30px;
	 	text-align: center;
	 	margin-bottom: 41px;
	 }
	 .dianzi .dtxj{
	 	margin-bottom: 42px;
		border-bottom: 1px solid #d4d4d4;
		padding-bottom: 42px;
	 }
	 .cyyst h2{
	 	font-size: 22px;
	 	color: #333;
	 	text-align: center;
	 	border-top: 1px solid #d4d4d4;
	 	padding-top: 39px;
	 	padding-bottom: 32px;
	 }
	 .dianzi .dtxj2{
	 	padding-bottom: 39px;
	 }
	 .cyys li{
	 	float: left;
	 	background-color: #dd4012;
	 	width: 219px;
	 	height: 30px;
	 	list-style: none;
	 	margin-right: 1px;color: #fff;
	 	text-align: center;
	 	line-height: 30px;
	 }
	 .yslr li{
	 	width: 160px;
	 	float: left;
	 	list-style: none;
	 	text-align: center;
	 	padding-top: 24px;
	 	padding-left: 30px;
	 	padding-right: 29px;
	 	margin-right: 1px;
	 }
	 .yslr .lrbjs{
	 	background-color: #fdd3c5;
	 	height: 207px;
	 }
	  .yslr .lrbj2{
	 	background-color: #ebe5e5;
	 	height: 207px;
	 }
	 .yslr .yslrzx{
	 	padding-right: 30px;
	 	margin-right: 0px;
	 }
	 table{
	 	border-left: 1px dashed #757575;
	 	border-top: 1px dashed #757575;
	 }
	 .klr th{
	 	border-bottom: 1px dashed #757575;
	 	border-right: 1px dashed #757575;
	 }
	 .klr h2{
	 	font-size: 22px;
	 	color: #333;
	 	text-align: center;
	 	border-top: 1px solid #d4d4d4;
	 	padding-top: 300px;
	 	padding-bottom:33px;
	 }	
	 .klr th{
	 	width: 366px;
	 	height: 126px;
	 	text-align: center;
	 }
	 .kjd{
	 	font-size: 45px;
	 	color: #dd4012;
	 	font-weight: normal;
	 	width: 45px;
	 	padding-left: 0px;
	 	margin-top: 10px;
	 }
	 .kzdx{
	 	font-size: 16px;
	 	color:#dd4012;
	 	width: 158px;
		margin-top: 20px;
	 }
	 .klr p{
	 	font-size: 12px;
	 	color: #999;
	 	float: left;
	 	width: 204px;
	 }
	 .klr img{
	 	float: left;
	 }
	 .klr span{
	 	float: left;
	 }
	 .klr .vv,.cc,.xx{
	 	margin-left:-20px;
	 }
	  .cyysx li{
	 	float: left;
	 	list-style: none;
	 	margin-right: 30px;
	 }
	 .cyysx .meibj{
	 	margin-right: 0px;
	 }
	 .bj6{
	 	background-image:url(images/6b.png);
	 	background-repeat: no-repeat;
	 	background-position: 50%;
		padding-top: 192px;
		margin-top: 48px;
	 }
	 .qiwen{
	 	border-bottom: 1px solid #dd4012;
	 	width: 1100px;
	 	overflow: hidden;
	 }
	 .qiwen p{
	 	float: left;
	 	text-align: center;
	 	margin-top: 45px;
	 	width: 103px;
	 	height: 33px;
	 	margin-right: 16px;
	 	background-color:#cdcdcd;
	 	
	 }
	 .qiwen p a{
	 	font-size: 14px;
	 	color: #333;
	 	line-height: 33px;
	 	display: block;
	 	width: 103px;
	 	height: 33px;
	 	text-decoration: none;
	 }
	 .qiwen p a:hover{
	 	background-color: #dd4012;
	 	color: #fff;
	 }
	 .qiwen .ybb{
	 	background-color: #dd4012;
	 }
	 .qiwen .ybb a{
	 	color: #fff;
	 }
	 .lwenzi h2{
	 	margin-top: 40px;
	 	margin-bottom: 33px;
	 	color: #dd4012;
	 	font-size: 20px;
	 }
	 .lwenzi p{
	 	line-height: 25px;
	 	font-size: 14px;
	 	color: #5a5a5a;
	 }
	 .lwenzi .duan2{
	 	margin-top: 44px;
	 	margin-bottom: 21px;
	 }
	 .lwenzi .duan4{
	 	margin-top: 21px;
	 	margin-bottom: 50px;
	 } 
	 .balei img{
	 	float: left;
	 }
	 .balei p{
	 	width: 515px;
	 	float: left;
	 	margin-left: 51px;
	 	margin-bottom: 18px;
	 	line-height: 24px;
	 }
	 .balei{
	 	overflow: hidden;
	 }
	 .balei p span{
	 	color: #dd4012;
	 }
	 .ywly h2{
	 	font-size: 17px;
	 	color: #dd4012;
	 }
	 .ywly li{
	 	font-size:14px; 
	 	color:#333;
	 	list-style: none;
	 }
	 .ywly{
	float: left;
	line-height: 28px;
	height: 500px;
	 }
	 .ywly .ywlys{
	 	margin-bottom: 20px;
	 }
	 .ywly .ywlyx{
	 	margin-top: 40px;
	 	margin-bottom: 20px;
	 }
	 .tf9{
	 	float: left;
	 	margin-left: 45px;
	 	margin-right: 144px;
	 }
	 .jzl{
	 	overflow: hidden;
	 }











	

